ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
placeholder()
  ::-webkit-input-placeholder
    text-align right
  :-moz-placeholder
    text-align right
  ::-moz-placeholder
    text-align right
  :-ms-input-placeholder
    text-align right
